body{
	background-color: #f2f2f2;
	font-family:Courier New;
}

.nav{
	float: right;
	margin-top: -35px;

}

@media only screen and (max-width: 875px) {
	.nav{
        display: none;
	}
}


a:link, a:visited {
   	background-color: #f2f2f2;
	color:black; 
	font-family:Lucida Console;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover{
	background-color: #ffffe6;
}


.money, .binary, .stats{
	width: 500px;
	padding:10px;
	border: 1px solid red;
	margin: 0;
}
