body{
	background-color: #e6e6ff;
	font-family:Courier New;
}

.nav{
	display:block;
	float: right;
	margin-top: -35px;
  
}

@media only screen and (max-width: 875px) {
	.nav{
        display: none;
	}
}


a:link, a:visited {
	color:black; 
	font-family:Lucida Console;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover{
	background-color: #F8F8FF;
}


.lps{
	width: 500px;
	padding:10px;
	border: 2px solid black;
	margin: 0;
}

footer{
	font-family:Serif;
	text-align:right;
	padding-right:50px;
	padding-left:50px;
	font-size:14px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1px;
}
